/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #FAF7F2;
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}

header .homepage {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 2em;
    background-image: url(../images/wine_noise.jpg);
    background-size: cover;
}

#quiz_homepage {
    background-image: url(../images/quiz_bg.jpg);
}

header .container {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    margin: 24px;
    max-width: 640px;
    padding: 10px; 
    box-sizing: border-box; 
    background-color: rgb(250,247,242,0.7);
}

#scroll {
    color: #6B1515;
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 0px; 
    text-align: center; 
}

#scroll p{
    margin: 0;
}

#scroll img {
    width: 30px;
    height: 100%;
    margin-top: 12px;
}

nav {
    max-width: 1440px;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #6B1515;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 0 1.5em;
}

nav>a {
    font-family: 'Oleo Script', cursive;
    color: #FAF7F2;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}
  
nav ul {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    list-style: none;
    background-color: #6B1515;
    padding: 0 1.5em;
}

nav ul a {
    color: #FAF7F2;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 2.25em;
}
  
nav a:hover {
    text-decoration: underline;
}
  
.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1000;
}

.overlay.visible {
    display: block;
}

.menu-icon {
    /*position: absolute; 
    top: 830px; 
    left: 22px;
    margin-top: 0; 
    margin-left: 0; */
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 2em;
    cursor: pointer;
}

.menu-icon img {
    width: 40px; 
    height: auto; 
}

.menu-container {
    position: fixed;
    top: 60px;
    margin: auto;
    max-width: 1440px;
    width: 100%;
    z-index: 1001; 
}

.menu-card {
    display: none;
    position: absolute;
    top: 0;
    right: 24px;
    background-color: #FAF7F2;
    color: black;
    z-index: 1002;
    width: auto; 
  }

.menu-card.visible {
    display: block;
}

.menu-card ul {
    margin: 24px 36px 0 0;
}

.menu-card ul li {
    list-style: none;
    margin: 6px 0;
    padding: 0;
}

.menu-card ul li a {
    color: #1a1a1a;
    text-decoration: none;
}

.menu-card ul li a:hover {
    text-decoration: underline;
}

.menu-card ul li:first-child {
    font-family: 'Oleo Script', cursive;
    font-size: 28px;
}

.menu-card ul:last-child li:last-child {
    margin-bottom: 24px;
}

.wine-card {
    display: none;
}

.wine-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 16px; 
    margin: 2em 2em 0 2em;
}

#white-wines {
    display: none;
}

.card {
    position: relative;
    display: inline-block;
    margin-top: 0.75em;
}

.card:hover {
    background-color: #F9F1E3;
}

.wine-container {
    width: 360px; 
    height: 710px;
    position: relative;
    backface-visibility: hidden;
    z-index: 2;
}
  
.wine-container img {
    width: 100%;
    display: block;
}
  
.wine-text {
    position: absolute;
    color: black; 
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}
  
.wine-text h2 {
    font-family: 'Oleo Script', cursive;
    margin-top: 1em;
    margin-bottom: 0;
}
  
.wine-text p {
    margin-top: 0;
}

.wine-info {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    backface-visibility: hidden; 
    transform: rotateY(180deg);
    z-index: 1; 
    background-color: #F9F1E3;
}

.wine-info .wine-text {
    background-color: #AE2121;
    color: #FAF7F2;
}

#white-wines .wine-info .wine-text {
    background-color: #F4ECB9;
    color:#1a1a1a;
}

.rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 16px 4px 12px;
}

.wine-bottle {
    height: 104px;
    width: 62px; 
}
  
.wine-bottle img {
    width: 100%;
    display: block;
}

.rating {
    display: flex;
    align-items: center;
}

.rating-bar-background-r {
    height: 14px;
    background-color: rgb(174,33,33,0.3);
    border-radius: 7px;
    width: 140px;
    position: relative;
}

.rating-bar-foreground-r {
    height: 14px;
    background-color: #AE2121; 
    border-radius: 7px;
    position: absolute;
}

#cabernet-sauvignon-sweetness {width: 60px;}
#cabernet-sauvignon-tannin {width: 126px;}
#cabernet-sauvignon-acidity {width: 90px;}
#cabernet-sauvignon-alcohol {width: 110px;}

#pinot-noir-sweetness {width: 34px;}
#pinot-noir-tannin {width: 60px;}
#pinot-noir-acidity {width: 112px;}
#pinot-noir-alcohol {width: 90px;}

#shiraz-sweetness {width: 34px;}
#shiraz-tannin {width: 110px;}
#shiraz-acidity {width: 110px;}
#shiraz-alcohol {width: 110px;}

#merlot-sweetness {width: 34px;}
#merlot-tannin {width: 110px;}
#merlot-acidity {width: 90px;}
#merlot-alcohol {width: 110px;}

#cabernet-franc-sweetness {width: 34px;}
#cabernet-franc-tannin {width: 88px;}
#cabernet-franc-acidity {width: 106px;}
#cabernet-franc-alcohol {width: 88px;}

#grenache-sweetness {width: 34px;}
#grenache-tannin {width: 78px;}
#grenache-acidity {width: 78px;}
#grenache-alcohol {width: 140px;}


.rating-bar-background-w {
    height: 14px;
    background-color: rgb(240,193,23,0.4);
    border-radius: 7px;
    width: 140px;
    position: relative;
}

.rating-bar-foreground-w {
    height: 14px;
    background-color: #F0C117; 
    border-radius: 7px;
    position: absolute;
}

#sauvignon-blanc-sweetness {width: 48px;}
#sauvignon-blanc-body {width: 48px;}
#sauvignon-blanc-acidity {width: 140px;}
#sauvignon-blanc-alcohol {width: 94px;}

#pinot-gris-sweetness {width: 120px;}
#pinot-gris-body {width: 58px;}
#pinot-gris-acidity {width: 120px;}
#pinot-gris-alcohol {width: 94px;}

#chardonnay-sweetness {width: 48px;}
#chardonnay-body {width: 80px;}
#chardonnay-acidity {width: 80px;}
#chardonnay-alcohol {width: 116px;}

#riesling-sweetness {width: 140px;}
#riesling-body {width: 30px;}
#riesling-acidity {width: 140px;}
#riesling-alcohol {width: 60px;}

#gewurztraminer-sweetness {width: 120px;}
#gewurztraminer-body {width: 90px;}
#gewurztraminer-acidity {width: 30px;}
#gewurztraminer-alcohol {width: 120px;}

#moscato-sweetness {width: 120px;}
#moscato-body {width: 36px;}
#moscato-acidity {width: 56px;}
#moscato-alcohol {width: 20px;}


.rating span {
    white-space: nowrap;
    padding: 0 0 0 6px;
    margin: 0;
}

.feature-container {
    margin: 20px 16px;
}

h3 {
    font-family: 'Oleo Script', cursive;
}

.features {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-container img {
    height: 48px;
    width: auto;
}

.feature p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#origin img {
    height: 33px;
    width: auto;
    margin-bottom: 2px;
}

#origin .feature p:nth-child(2) {
    font-weight: bold;
}

#origin p {
    line-height: 120%;
}

.description p {
    font-size: 14px;
    line-height: 140%;
}
  
.flipped .wine-container {
    transform: rotateY(-180deg);
}
  
.flipped .wine-info {
    transform: rotateY(0deg);
}

.pagination {
    text-align: center; 
    margin-top: 5.25em;
    margin-bottom: 7em;
    font-size: 20px;
}

.pagination button {
    background: none;
    border: none;
    font-size: 24px;
}

.pagination button:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
    height: 400px; 
    background-color: #6B1515;
    color: #FAF7F2; 
}
  
.footer-content p {
    margin: 0em 7em 4.75em 7em;
}
  
  
button#startQuizBtn, button#submitAnswers {
    background-color: #FAF7F2;
    color: #6B1515;
    border: none;
    height: 44px;
    width: 162px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 22px;
    cursor: pointer;
}

button#submitAnswers {
    color: #FAF7F2;
    background-color: #6B1515;
}

button#startQuizBtn:hover, button#submitAnswers:hover {
    text-decoration: underline;
}

#question2, #question3, #question4, #question5 {
    display: none;
}

.red_feedback_card {
    display: none;
}

.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64vh;
}

.quiz-question {
    display: none;
}

.quiz-question {
    display: block;
    background-color: #F9F1E3;
    padding: 20px;
    width: 100%;
    max-width: 1080px;
    max-height: 556px;
    margin: 140px 24px 24px 24px;
    padding: 64px 48px;
}

.quiz-question span {
    font-family: 'Oleo Script', cursive;
    font-size: 36px;
}

.quiz-question p {
    font-size: 18px;
}

.options {
    margin-top: 20px;
}

.option {
    font-size: 18px;
    display: block;
    background: none;
    padding: 12px 0;
    cursor: pointer;
    border: none;
}

.option:hover {
    text-decoration: underline;
}

.option.correct {
    color: green;
    font-weight: bold;
}

.option.incorrect {
    color: red;
    font-weight: bold;
}

#feedback {
    color: red;
    font-style: italic;
}

.red_feedback_card {
    width: 360px; 
    height: 710px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F9F1E3;
    z-index: 2000; 
}

.red_feedback_card .wine-text {
    background-color: #AE2121;
    color: #FAF7F2;
}

button#submitAnswers {
    position: absolute; 
    bottom: 48px;
    right: 0;
    margin-right: 24px;
}

.completion-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
    max-width: 1440px;
    width: 100%;
    height: 80vh;
}

.completion-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100%;
}
  
.trophy-container {
    padding: 20px;
    margin-right: 20px; 
}
  
.trophy {
    width: 360px; 
    height: auto;
    margin: 24px 24px 0 24px;
}
 
.completion-text-container {

    max-width: 600px;
    margin: 24px;
}

.completion-text-container h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 48px;
}

@media (max-width: 900px) {
    .completion-container {
        flex-wrap: wrap;
    }
    .completion-text-container {
        flex: 1 1 auto;
        max-width: 385px;
        margin-top: 0;
        text-align: center; /*may change*/
    } 
}